@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">It's okademy</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <p>L'os: @Model.Os</p>
    <p>La version del'os: @Model.OsVersion</p>
    <p>Le nom de la plateforme : @Model.Name</p>
</div>
